
{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
{% if customers %}
    <table id="customerTable" class="display">
    <thead>
        <tr>
            <th>Customer Code</th>
            <th>Customer Name</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="/main/customers/{{ customer.pk }}">{{ customer.Code }}</a></td>
            <td>{{ customer.Name }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No customers are available.</p>
{% endif %}
</div>

<script>
    $(document).ready( function () {
    $('#customerTable').DataTable();
} );
</script>

{% endblock content %}